body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.rc-container {
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}
.rc {
  max-width: 100%;
  max-height: 100%;
}
.game-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto 100vmin auto;
}
.controls {
  background: #eee;
  display: grid;
  grid-template-columns: auto 5vw 5vw 5vw auto;
  grid-template-rows: auto 5vw 5vw 5vw auto;
}
.up-arrow {
  grid-row: 2;
  grid-column: 3;
}
.down-arrow {
  grid-row: 4;
  grid-column: 3;
}
.left-arrow {
  grid-row: 3;
  grid-column: 2;
}
.right-arrow {
  grid-row: 3;
  grid-column: 4;
}
.rc>img {
  max-width: 100%;
  max-height: 100%;
}
.welcome-message{
  text-align: center;
}