body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.rc-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}
.rc {
  max-width: 100%;
  max-height: 100%;
}

.rc > img {
  max-width: 100%;
  max-height: 100%;
}